<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pişti 0.6.3</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.yakaza.pishti</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1573</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AkzidenzGroteskBQ-LigCndTR.ttf</string>
		<string>BebasNeue.ttf</string>
		<string>HelveticaNeueLTPro-Cn.otf</string>
		<string>HelveticaNeueLTPro-HvCn.otf</string>
		<string>HelveticaNeueLTPro-ThCn.otf</string>
		<string>BOOKOS.TTF</string>
		<string>BOOKOSB.TTF</string>
		<string>BOOKOSBI.TTF</string>
		<string>BOOKOSI.TTF</string>
		<string>ROCK.TTF</string>
		<string>ROCKB.TTF</string>
		<string>ROCKBI.TTF</string>
		<string>ROCKI.TTF</string>
		<string>TRCourierNew.TTF</string>
		<string>TRCourierNewBold.TTF</string>
		<string>TRCourierNewBoldItalik.TTF</string>
		<string>TRCourierNewItalik.TTF</string>
		<string>TREagles.TTF</string>
		<string>TREaglesBold.TTF</string>
		<string>TREaglesBoldItalik.TTF</string>
		<string>TREaglesItalik.TTF</string>
		<string>trebuc.ttf</string>
		<string>trebucbd.ttf</string>
		<string>trebucbi.ttf</string>
		<string>trebucit.ttf</string>
		<string>TRMcLean.TTF</string>
		<string>TRMcLeanBold.TTF</string>
		<string>TRMcLeanBoldItalik.TTF</string>
		<string>TRMcLeanItalik.TTF</string>
		<string>GOODDC_.TTF</string>
		<string>timesbd.ttf</string>
		<string>Titillium-ThinUpright.otf</string>
		<string>TRGalleria.TTF</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
